/* Para pantallas de Laptops*/
@media (max-width: 1920px) {

    /* Header */
    .RGHeader img {
        height: 60px;
        width: auto;
    }

    .Titulo h1 {
        font-size: 28px;
    }

    .Titulo .subtitle {
        font-size: 13px;
    }

    .Links {
        padding: 15px;
        gap: 30px;
        padding-right: 5%;
    }

    .Botones:link {
        font-size: 18px;
    }

    .Botones:visited {
        font-size: 18px;
    }

    .Botones:hover {
        font-size: 22px;
    }

    .Botones:active {
        font-size: 22px;
    }

    /* Informacion*/

    
    
    .TituloInfo {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        padding: 5px 5px;
    }

    .TituloInfo h2 {
        font-size: 40px;
        padding: 1px;
    }

    .Informacion img {
    min-width: 200px;
    width: 30%;
    height: 200px;
    border-radius: 8px;
    }


    #Foliares {

        object-position: 50%  75%;

    }

    #Nueces {

        object-position: bottom;

    }

    .Informacion p {
        flex: 1;
        font-size: 1.2rem;
        line-height: 1.2;
    }

    /* Footer */

    .footer-logo {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-info p {
        margin: 5px 0;
        font-size: 18px;
    }



}