/* Para pantallas de Laptops*/
@media (max-width: 1920px) {

    /* Header */
    .RGHeader img {
        height: 60px;
        width: auto;
    }

    .Titulo h1 {
        font-size: 28px;
    }

    .Titulo .subtitle {
        font-size: 13px;
    }

    .Links {
        padding: 15px;
        gap: 30px;
        padding-right: 5%;
    }

    .Botones:link {
        font-size: 18px;
    }

    .Botones:visited {
        font-size: 18px;
    }

    .Botones:hover {
        font-size: 22px;
    }

    .Botones:active {
        font-size: 22px;
    }

    /* Informacion*/

    .QuienesSomos {

        max-width: 900px;
        margin: 0 auto;

    }

    .QuienesSomos h2 {

        font-size: 2em;

    }

    .QuienesSomos p {
        font-size: 1.3em;

    }

    .Header-Container {
        gap: 50px;
        margin-bottom: 150px;
        max-width: 1100px;

    }

    .Bloque p {
        line-height: 1.4;
        font-size: 1.2em;

    }

    .Valores-Container h2 {
        font-size: 2.4em;

    }

    .Valores-Container ul li {
        font-size: 1.1em;

    }

    /* Footer */

    .footer-logo {
        width: 100px;
        height: auto;
        margin-bottom: 10px;
    }

    .footer-info p {
        margin: 5px 0;
        font-size: 18px;
    }



}